* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
    
body {
    background-color: #141414;
}

header {
    display: flex;
    height: 120px;
    width: 100%;
    background: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
    box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
}

.title{
    height: 38px;
    width: 198px;
    margin-left: 39px;
    margin-top: 34px;
}

.title h1{
    font-size: 28px;
    width: 198px;
    height: 38px;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1.74222px;
    color: #FFFFFF;
}

.searchBarContainer{
    display: flex;
    width: 362px;
    height: 40px;
    background: #F1F1F1;
    border-radius: 20px;
    margin: auto;
    margin-top: 32px;
}

.searchBarImg{
    background: #F1F1F1;
    border-radius: 20px 0px 0px 20px;
    width: 36px;
}

.searchBarImg img{
    height: 15.998370170593262px;
    width: 16.000619888305664px;
}

.searchBarContainer input{
    height: 40px;
    width: 326px;
    background: #F1F1F1;
    border-radius: 0px 20px 20px 0px;
    border: none;
    outline: none;
}

.logoutContainer{
    display: flex;
    margin-top: 44px;
}

.logoutContainer img{
    margin-left: 11px;
}

.logoutContainer a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.profileIconContainer{
    margin-top: 29.33px;
    margin-left: 32.32px;
    margin-right: 37.81px;
}

.profileIconContainer img{
    height: 45.33333206176758px;
    width: 43.870967864990234px;
}

hr {
    height: 1px;
    width: 3600px;   
}