/* - - - - - - - - GENERAL - - - - - - - - */

:root {
    --black: #141414;
    --gradientBlack: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
    --darkGrey: #303030;
    --darGrey2: #3D3D3D;
    --grey2: #939393;
    --grey: #A6A6A6;
    --white: #FFFFFF;
    --white2: #F1F1F1;
    --lightGreen: #7CD235;
    --green: #2BB34F;
    --gradientGreen: linear-gradient(180deg, #7CD235 0%, #2BB34F 100%);
    --red: #D24040;

    /* David: if a color is used just once (for example, like the color on line 716),
    should we add a color variable too? */
}

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    /* background: var(--gradientBlack);
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

/* - - - - - - - - HEADER - - - - - - - - */

header {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
    background: var(--gradientGreen);
    box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
}

.headerOptions {
    display: flex;
    height: 90px;
    width: 100%;
}

.headerOptions__title {
    height: 38px;
    width: 198px;
    margin-left: 39px;
    margin-top: 34px;
}

.headerOptions__title h1 {
    font-size: 28px;
    width: 198px;
    height: 38px;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1.74222px;
    color: var(--white);
}

.headerOptions__hamburgerMenu{
    display: none;
}

.headerOptions__searchBarContainer {
    display: flex;
    width: 362px;
    height: 40px;
    background: var(--white2);
    border-radius: 20px;
    margin: auto;
    margin-top: 32px;
}

input[type="text"] {
    color: #A6A6A6;
}

input::placeholder {
    color: #A6A6A6;
}

.searchBarIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F1F1F1;
    border-radius: 20px 0px 0px 20px;
    width: 56px;
    /*Note: Calculated by myself (20+16+20), that's not in the Figma*/
}

.searchBarIcon img {
    height: 15.998370170593262px;
    width: 16.000619888305664px;
}

.headerOptions__searchBarContainer input {
    height: 40px;
    width: 326px;
    background: #F1F1F1;
    border-radius: 0px 20px 20px 0px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
    padding-left: 5px;
}

.headerOptions__logoutContainer {
    display: flex;
    align-items: baseline;
    margin-top: 44px;
}

.headerOptions__logoutContainer img {
    margin-left: 11px;
}

.headerOptions__logoutContainer a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.headerOptions__logoutContainer.show{
    position: absolute;
    z-index: 1;
}

.logoutIcon {
    display: flex;
    align-items: baseline;
}

.headerOptions__profileIconContainer {
    margin-top: 29.33px;
    margin-left: 32.32px;
    margin-right: 37.81px;
}

.headerOptions__profileIconContainer img {
    height: 45.33333206176758px;
    width: 43.870967864990234px;
    /* object-fit: cover; */
    border-radius: 50%;
}

.headerOptions__searchLens--mobile{
    display: none;
}

.headerLine {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLine hr {
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid white;
}

/* - - - - - - - - NAV - - - - - - - - */

.horizontalContainer{
    display: flex;
}

nav {
    width: 263px;
    height: 100%;
    color: #FFFFFF;
    flex: none;
}

.nav__title{
    display: none;
}

.nav__hamburgerMenu--mobile{
    display: none;
}

ul{
    list-style-type: none;
}

nav ul {
    padding-top: 22px;
    padding-left: 39px;
}

li a {
    text-decoration: none;
    color: #FFFFFF;
}

li img {
    margin-right: 13px;
}

.list__boldOption.marginTop {
    margin-top: 33px;
}

.list__boldOption {
    margin-top: 11px;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
}

.list_iconOption.marginTop {
    margin-top: 33px;
}

.list_iconOption {
    display: flex;
    margin-top: 11px;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
}

.list__logOut{
    display: none;
}

.list__logOut.show{
    display: block;
}

/* - - - - - - - - CARDS CONTAINER - - - - - - - - */

.cardsSection{
    height: 89px;
    flex: auto;
}

.cardsSection__info{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    width: 100%;
    margin-bottom: 30px;
    padding-right: 40px;
}

.titles__mainTitle{
    font-weight: 800;
    font-size: 55px;
    line-height: 75px;
    margin-top: 24px;
    color: var(--white);
}

.titles__subtitle{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: -8px;
    color: var(--white);
}

.viewOptions{
    display: flex;
    margin-top: 51px;
}

.tripleColumnViewButton__svg{
    cursor: pointer;
    fill: #515151;
}

.tripleColumnViewButton__svg:hover{
    fill: #7D7D7D;
}

.singleColumnViewButton__svg{
    cursor: pointer;
    margin-left: 24px;
    fill: #303030;
}

.singleColumnViewButton__svg:hover{
    fill: #7D7D7D;
}

/* - - - - - - - - CARDS - - - - - - - - */

/* - - - threeColumnView - - -*/

.cardsContainer{
    display: flex;
    width: 100%;
    padding-right: 40px;
}

.cardsContainer__list{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(363px, auto));
    grid-template-rows: 314px 314px 314px;
    gap: 24px;
}

.card.listElement{
    background-color: var(--darkGrey);
    border-radius: 10px;
    overflow: hidden;
    min-width: 363px;
}

.card.card__Image{
    height: 205px;
    display: flex;
}

.card.card__Image img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.card.cardInfo{
    display: flex;
    height: 109px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.card.cardInfo__leftInfo{
    width: 186px;
}

.card.leftInfo__title{
    font-weight: 800;
    font-size: 23px;
    line-height: 31px;
    color: var(--white);
}

.card.leftInfo__releaseDate{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey2);
}

.card.leftInfo__genres{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey2);
}

.card.leftInfo__position{
    display: none;
}

.card.cardInfo__leftInfo hr {
    width: 186px;
    margin-top: 2px;
    border: 1px solid var(--darGrey2)
}

.card.cardInfo__rightInfo{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.card.rightInfo__platformIcons{
    width: 100%;
    display: flex;
}

.card.platformIcon{
    height: 13px;
    width: 13px;
    margin-left: 8px;
}

.card.rightInfo__position{
    margin-left: auto;
    margin-top: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: var(--green);
}

.card.rightInfo__giftButton{
    margin-left: auto;
}

.card.rightInfo__giftButton input[type="button"]{
    margin-top: 5px;
    height: 24px;
    width: 46px;
    border-radius: 10px;
    background-image: url(media/mainMenu/gift.svg);
    border: none;
    outline: none;
}

.card.cardInfo__gameDescription{
    display: none;
}

/* - - - singleColumnView - - -*/

.infoContainer--singleColumn.singleColumnView{
    display: flex;
    align-items: flex-end;
    position: absolute;
    z-index: 1;
}

.releaseDate--singleColumn.singleColumnView{
    width: 155px;
}

.genres--singleColumn.singleColumnView{
    width: 155px;
    margin-left: 40px;
    margin-right: 40px;
}

.cardsContainer.singleColumnView{
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.cardsContainer__list.singleColumnView{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.card.listElement.singleColumnView{
    background-color: var(--darkGrey);
    border-radius: 10px;
    width: 696px;
    height: 538px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 24px;
}

.card__Image.singleColumnView{
    height: 315px;
    display: flex;
}

.card__Image.singleColumnView img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.cardInfo.singleColumnView{
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
}

.cardInfo.singleColumnView img{
    display: block;
    /* Personal note: the img has an implicit line-height assigned to it, which gives it some vertical breathing room.
    Since line-height only applies to inline elements, setting the img to display: block removes the line-height */
}

.cardInfo__leftInfo.singleColumnView{
    margin-top: 20px;
}

.leftInfo__title.singleColumnView{
    font-weight: 800;
    font-size: 23px;
    line-height: 31px;
    color: var(--white);
}

.leftInfo__releaseDate.singleColumnView{
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey2);
}

.releaseDate__date.singleColumnView{
    color: var(--white);
}

.leftInfo__genres.singleColumnView{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey2);
}

.genres__info.singleColumnView{
    color: var(--white);
}

.leftInfo__position.singleColumnView{
    margin-left: auto;
    margin-top: 18px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: var(--green);
    display: block;
}

.cardInfo__leftInfo.singleColumnView hr {
    width: auto;
    margin-top: 2px;
    border: 1px solid var(--darGrey2)
}

.cardInfo__rightInfo.singleColumnView{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.rightInfo__platformIcons.singleColumnView{
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.platformIcon.singleColumnView{
    height: 13px;
    width: 13px;
    margin-left: 8px;
}

.rightInfo__position.singleColumnView{
    display: none;
}

.rightInfo__giftButton.singleColumnView{
    margin-left: auto;
    margin-top: 21px;
}

.rightInfo__giftButton.singleColumnView input[type="button"]{
    margin-top: 0px;
    height: 24px;
    width: 46px;
    border-radius: 10px;
    background-image: url(media/mainMenu/gift.svg);
    border: none;
    outline: none;
}

.cardInfo__gameDescription.singleColumnView{
    color: var(--white);
    margin-left: 40px;
    margin-right: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    display: block;
}

/* - - - - - - - - MEDIA QUERIES - - - - - - - - */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .headerOptions__title{
        display: none;
    }

    .headerOptions__hamburgerMenu{
        display: block;
        margin-top: 40px;
        margin-left: 40px;
    }

    .headerOptions__logoutContainer{
        display: none;
    }

    .headerOptions__searchLens--mobile{
        display: none;
    }

    nav{
        position: absolute;
        width: 303px;
        height: 100%;
        left: -303px;
        top: 0;
        background: #151515;
        transition: left .4s cubic-bezier(.33,.33,.6,.59);
    }

    nav.show{
        z-index: 2;
        left:0;
        box-shadow: 14px 0px 36px 5px rgba(0, 0, 0, 0.62);
    }

    .nav__title{
        display: block;
        color: var(--white);
        height: 38px;
        width: 198px;
        margin-left: 39px;
        margin-top: 34px;
        margin-bottom: 50px;
    }

    .nav__title h1{
        font-weight: normal;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1.74222px;
    }

    .title__strong{
        font-weight: 800;
    }

    .nav__hamburgerMenu--mobile{
        display: none;
    }

    nav ul {
        padding-top: 22px;
        padding-left: 40px;
    }

    .list__logOut.show{
        margin-top: 317px;
    }

    .clickContainer--tablet{
        display: none;
    }

    .clickContainer--tablet.show{
        display: block;
        position: absolute;
        left: 303px;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .horizontalContainer{
        margin-left: 40px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {

    header{
        height: 104px;
        width: 100%;
    }

    .headerOptions{
        justify-content: space-between;
    }

    .headerOptions__title, .headerOptions__searchBarContainer, .headerOptions__profileIconContainer,
    .headerOptions__logoutContainer, .headerLine, .viewOptions{
        display: none;
    }
    /* David: Is this a good way to decrease the amount of code lines?*/

    .headerOptions__hamburgerMenu{
        display: block;
        margin-top: 40px;
        margin-left: 40px;
    }

    .headerOptions__searchLens--mobile{
        display: block;
        margin-top: 40px;
        margin-right: 40px;
    }

    nav{
        display: none;
        position: absolute;
        width: 100vw;;
        height: 100vh;
        left: -400px;
        top: 0;
        background: #151515;
        transition: left .4s cubic-bezier(.33,.33,.6,.59);
    }

    nav.show{
        display: block;
        left:0;
    }

    .headerOptions__hamburgerMenu.show img {
        position: absolute;
        z-index: 1;
        right: 40px;
    }

    .nav__title{
        display: block;
        color: var(--white);
        height: 38px;
        width: 198px;
        margin-left: 30px;
        margin-top: 34px;
        margin-bottom: 50px;
    }

    .nav__title h1{
        font-weight: normal;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1.74222px;
    }

    .title__strong{
        font-weight: 800;
    }

    .hamburgerMenu__svg--mobile{
        display: block;
        position: relative;
    }

    nav ul {
        padding-top: 22px;
        padding-left: 30px;
    }

    .list__logOut.show{
        margin-top: 62px;
    }

    .cardsSection{
        width: 100vw;
    }

    .cardsSection__info{
        margin-left: 40px;
        margin-bottom: 30px;
        margin-right: 0px;
        width: auto;
    }

    .titles__mainTitle{
        font-size: 45px;
        line-height: 110%;
        margin-right: 40px;
    }

    .titles__subtitle{
        margin-top: 20px;
        margin-right: 40px;
        font-size: 18px;
        line-height: 25px;
    }

    .cardsContainer{
        padding-right: 0px;
    }
    
    .cardsContainer__list{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    .card.listElement{
        width: auto;
        height: 321px;
        border-radius: 0px;
        min-width: 0px;
    }

    .card.listElement img{
        margin-right: 0px;
    }

    .card.card__Image{
        height: 164px;
    }

    .card.cardInfo{
        display: flex;
        flex-direction: column;
        height: 157px;
        padding-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .card .cardInfo__leftInfo{
        width: auto;
        margin-top: 5px;
    }

    .card .card.cardInfo__leftInfo hr{
        width: auto;
    }

    .card.cardInfo__rightInfo{
        flex-direction: row;
        margin-left: 0px;
        margin-top: 15px;
    }

    .card.rightInfo__platformIcons{
        width: auto;
    }

    .card.rightInfo__position{
        margin-block: auto;
    }

    .card.platformIcon:first-child{
        margin-left: 0px;
    }

}

/* I added this breakpoint just to check that the mobile view was working right. */
@media only screen and (max-width: 320px) {
    body{
        display: none;
        background-color: var(--black);
    }
}